@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
section {
    transition: all 300ms ease;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.orange{
    color: #fdae41;
}

input, textarea{
    width: 100%;
    background-color: transparent;
    color: #181818;
    outline: none;
    border: 1px solid #181818;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;

}

textarea{
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

input:hover, textarea:hover{
    border-color: #fdae41;
}

input:focus, textarea:focus{
    border-color: #fdae41;
}


label{
    font-size: 14px;
    font-weight: bold;
}

/* Loader */

/* Nav Bar */

nav {
    margin: 0 auto;
    display: flex;
    height: 100px;
}

.nav__container{
    background-color: #181818;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0 20px;
    
}

#SW3__logo {
    width: 88px;
    height: 88px;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #fdae41;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 20px;
}

.nav__link--anchor {
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.dropbtn{
    background-color: #181818;
    border: none;
    outline: none;
    margin-bottom: 12px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown__content{
    display: none;
    position: absolute;
    left: -16px;
    background-color:#181818;
    width: 180px;
    height: 150px;
    
}

.link{
    padding: 12px;
    font-size:16px;
}

.link:hover{
    color: #fdae41;
}


.dropdown:hover .dropdown__content{
    display: block;
    
    
}


/* Landing Page */

.container {
    background-color: #181818;
    padding: 20px 0px 60px 0px;
    width: 100%;
    border-bottom: 4px solid #fdae41;
    
}

.row {
    max-width: 1100px;
    height: 140px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__header {
    font-size: 60px;
    padding-bottom: 40px;
    color: white;
}

.content {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 48px;
    line-height: 40px;
    color: white;
    left: 50%;
}

.content__container {
    font-weight: bold;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content__container:before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #fdae41;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__list {
    margin-top: 0;
    text-align: center;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

.promo__video {
    width: 100%;
    border-bottom: 4px solid #181818;
}

.video__container{
    background-color: #181818;
}

.mail__btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #fdae41;
    position: fixed;
    bottom: 32px;
    right: 40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

.envelope__icon{
    height: 32px;
    width: 32px;
}

/* Track Section */


.track__container{
    background-color: white;
    width: 100%;
}

.track__row{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track__section--title{
    font-size: 40px;
    font-weight: bold;
    
}


.track__container--single{
    background-color: #181818;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #fdae41;
}

.track1__single--cover{
    width: 500px;
    border-radius: 32px;
    transition: all 600ms ease;
}

.track1__single--cover:hover{
    box-shadow: 0px 0px 50px 4px #fd35d4;
    transform: scale(1.05);   
}

.yt-video__container{
    width: 100%;
    background-color: #dcdfe6;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #fdae41;
}

.yt-video__row{
    padding: 80px;
}

.video{
   width: 1100px;
   height: 600px;
   border-radius: 25px;
   box-shadow: 0px 0px 15px 2px #181818;
}

.track2__single--cover{
    width: 500px;
    border-radius: 32px;
    transition: all 600ms ease;
}

.track2__single--cover:hover{
    box-shadow: 0px 0px 50px 4px #fdae41;
    transform: scale(1.05); 
}

.socials__list{
    display: flex;
    flex-wrap: wrap;
}

.socials__link{
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;

}

.socials__link:hover .socials__name{
    transform: scale(1) ;
}

.socials__link:hover{
    filter: brightness(80%);
    transform: scale(0.9);
}

.socials__name{
    position: absolute;
    color: #dcdfe6;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.socials__link--icon{
    font-size: 48px;
    padding: 48px 18px 0 18px;
    color: #dcdfe6;


}

/* Modal */
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half{
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact{
    transform: translateX(0%);
}

.modal__about{
    background-color: #181818;
    transform: translateX(-110%);
}

.modal__img{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 150px white); 
}

.modal__contact{
    background-color:#dcdfe6;
    color: #242424;
    transform: translateX(110%);
}

.modal__title{
    font-size: 26px;
}

.modal__sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.form__item{
    margin-bottom: 20px;
}

.form__submit{
    background-color: #fdae41;
    border: 2px solid #fdae41;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
    border-radius: 10px;
}

.form__submit:hover{
    border-color: #fdae41;
    background-color: transparent;
    color: #fdae41;
}

.form__submit:active{
    border-color: #fdae41;
    color: #fdae41;
}

.modal__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal__overlay--loading{
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success{
    background-color: #fdae41;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    z-index: -1;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}

.fa-spinner{
    color: #dcdfe6;
    animation: spinner 750ms infinite linear;

}

@keyframes spinner {
    0%{
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: #181818;
    font-size: 36px;
    z-index: 100;

}

/* About */

.about__container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./Assets/slider-1b.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 4px solid #fdae41;
}

.frosted{
    
    width: min(100% - 15px, 840px);
    height: 340px;
    margin-inline: auto;
    border-radius: 40px;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex-direction: column;
    padding: 40px 80px;
}

.about__header{
    font-size: 40px;
    font-weight: bold;

}

.about__para{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.frosted::after{
    z-index: -1;
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(25, 80, 151, 0.5);
    filter: blur(10px);
    
}

  /* Footer */

  .footer__container{
    width: 100%;
  }

  footer{
    position: relative;
    background-color: #181818;
    display: flex;
    padding: 6% 0;
  }

  .footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__img{
    width: 120px;
    height: 120px;
    padding-bottom: 8px;
  }

  .footer__social--media{
    font-size: 24px;
    padding: 0px 12px;
  }

  .footer__social--media:hover{
    color: #fdae41;
  }

  .footer__social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .footer__social--link, .footer__copyright{
    color: white;
    padding: 8px;
  }
